*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;

    
}

:root{
    --primary-color: #fec7d7;
    --secondary-color: black; 
}
.dark-theme{
   --primary-color: black;
    --secondary-color: #fec7d7;

}

#icon{
    width: 40px;
    cursor: pointer;
    border-radius: 50%;

}
.hide {
    display: none;
  }
      
  #icon:hover + .hide {
    display: block;
    color: white;
    font-weight: 700;
    
  }
nav{
     flex: 1;
     text-align: right;
     margin-right: 150px;
     margin-top: 20px;
     width: auto;
     height: 50px;


}
.form-box{
    width: 380px;
    height: 600px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
    box-shadow: 2px 8px 8px 2px grey;
}
.btn-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;

}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    text-transform: capitalize;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #d9d4e7;
    border-radius: 30px;
    transition: 0.5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;

}
.social-icons img{
   width: 30px;
   margin: 0 12px;
   box-shadow: 0 0 20px 0 #7f7f7f3d;
   cursor: pointer;
   border-radius: 50%;
    
}
.social-icons img:hover{
    transform: scale(1.5);
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #d9d4e7;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.checkbox{
    margin: 30px 10px;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}